/*
* LittleLink Button Styles
* https://littlelink.io
* Free to use under the MIT license
* http://www.opensource.org/licenses/mit-license.php
*/

/* Brand Button Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Only include brand-specific button styling here */
.button,button {
  color:var(--button-text,#000000);
  background-color:var(--button-background,transparent);
	border:var(--button-border,none);
	transition:filter 0.2s ease,transform 0.2s ease;
}

/* Global Button Hover Effect
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button:hover,button:hover {
	filter:brightness(90%);
	transform:translateY(-1px);
}

/* Button Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.icon {
	filter:var(--icon-filter,none);
}

/* Brand-Specific Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Default */
.button.button-default {
	--button-text:#ffffff;
	--button-background:#2457F5;
	--button-border:1px solid #ffffff;
}

/* Apple App Store */
.button-appstore {
	--button-text:#FFFFFF;
	--button-background:#000000;
	--button-border:1px solid #FFFFFF;
}

/* Apple Music */
.button-apple-music {
	--button-text:#ffffff;
	--button-background:#000000;
	--button-border:1px solid #FFFFFF;
}

/* Apple Music Alt */
.button-apple-music-alt {
	--button-text:#ffffff;
	background-image:linear-gradient(to bottom,#FB5C74,#FA233B);
}

/* Apple Podcasts */
.button-apple-podcasts {
	--button-text:#ffffff;
	--button-background:#000000;
	--button-border:1px solid #FFFFFF;
}

/* Apple Podcasts Alt */
.button-apple-podcasts-alt {
	--button-text:#ffffff;
	background-image:linear-gradient(to bottom,#F452FF,#832BC1);
}

/* Bluesky */
.button-bluesky {
	--button-text:#FFFFFF;
	--button-background:#1185FE;
}

/* Bluesky Alt */
.button-bluesky-alt {
	--button-text:#000000;
	--button-background:#FFFFFF;
	--button-border:1px solid #000000;
}

/* Buy Me a Coffee */
.button-coffee {
	--button-text:#000000;
	--button-background:#ffdd00;
}

/* Discord */
.button-discord {
	--button-text:#ffffff;
	--button-background:#5865F2;
}

/* GitHub */
.button-github {
	--button-text:#ffffff;
	--button-background:#000000;
	--button-border:1px solid #FFFFFF;
}

/* GitLab */
.button-gitlab {
	--button-text:#ffffff;
	--button-background:#6151b2;
}

/* Google Play Store */
.button-playstore {
	--button-text:#FFFFFF;
	--button-background:#000000;
	--button-border:1px solid #FFFFFF;
}

/* Instagram */
.button-instagram {
	--button-text:#ffffff;
	background-image:linear-gradient(-135deg,#1400c8,#b900b4,#f50000);
}

/* Kick */
.button-kick {
	--button-text:#ffffff;
	--button-background:#000000;
	--button-border:1px solid #ffffff;
}

/* Kick Alt */
.button-kick-alt {
	--button-text:#000000;
	--button-background:#01e701;
}

/* Kickstarter */
.button-kickstarter {
	--button-text:#ffffff;
	--button-background:#05ce78;
}

/* Ko-fi */
.button-ko-fi {
	--button-text:#ffffff;
	--button-background:#000000;
  --button-border:1px solid #FFFFFF;
}

/* Mastodon */
.button-mastodon {
	--button-text:#ffffff;
	--button-background:#17063B;
	--button-border:1px solid #FFFFFF;
}

/* Microsoft */
.button-microsoft {
	--button-text:#ffffff;
	--button-background:#000000;
	--button-border:1px solid #FFFFFF;
}

/* Obsidian */
.button.button-obsidian {
	--button-text:#ffffff;
	--button-background:#262626;
	--button-border:1px solid #ffffff;
}

/* Read.cv */
.button-read-cv {
	--button-text:#FFFFFF;
	--button-background:#000000;
	--button-border:1px solid #FFFFFF;
}

/* Shop */
.button-shop {
	--button-text:#ffffff;
	--button-background:#5A31F4;
}

/* Signal */
.button-signal {
	--button-text:#ffffff;
	--button-background:#3a76f0;
}

/* Spotify */
.button-spotify {
	--button-text:#191414;
	--button-background:#1db954;
}

/* Spotify Alt */
.button-spotify-alt {
	--button-text:#FFFFFF;
	--button-background:#191414;
	--button-border:1px solid #FFFFFF;
}

/* Stack Overflow */
.button-stack-overflow {
	--button-text:#000000;
	--button-background:#FFFFFF;
	--button-border:1px solid #000000;
}

/* Steam */
.button-steam {
	--button-text:#ffffff;
	background-image:linear-gradient(90deg,#08BBFF,#2B75FF);
}

/* Steam Alt */
.button-steam-alt {
	--button-text:#ffffff;
	background-image:linear-gradient(90deg,#09172a,#072a57,#0c5085);
	--button-border:1px solid #FFFFFF;
}

/* Telegram */
.button-telegram {
	--button-text:#ffffff;
	--button-background:#3faee8;
}

/* Threema */
.button-threema {
	--button-text:#000000;
	--button-background:#3fe669;
}

/* YouTube */
.button-yt {
	--button-text:#ffffff;
	--button-background:#282828;
	--button-border:1px solid #FFFFFF;
}

/* YouTube Alt */
.button-yt-alt {
	--button-text:#ffffff;
	--button-background:#FF0000;
}

/* Codeberg */
.button-codeberg {
    --button-text: #000000;
    --button-background: #ffffff;
    --button-border: 1px solid #000000;
}

/* git.gay */
.button-git-gay {
    --button-text: #ffffff;
    --button-background: #8b0052;
    --button-border: 1px solid #FFFFFF;
}

/* Session */
.button-session {
    --button-text: #ffffff;
    --button-background: #333132;
    --button-border: 1px solid #FFFFFF;
}

/* Tox */
.button-tox {
    --button-text: #000000;
    --button-background: #ffffff;
    --button-border: 1px solid #000000;
}

/* Jami */
.button-jami {
    --button-text: #000000;
    --button-background: #76bb40;
				--button-border: 1px solid #000000;
}
